In [1]:
import sqlite3
conn = sqlite3.connect("internship.db")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS interns (
    id INTEGER PRIMARY KEY,
    name TEXT,
    track TEXT,
    stipend INTEGER
);
""")
cursor.executemany("""
INSERT INTO interns (id, name, track, stipend)
VALUES (?, ?, ?, ?);
""", [
    (1, 'Asha', 'Data Science', 15000),
    (2, 'Rahul', 'Web Development', 12000),
    (3, 'Priya', 'Data Science', 16000),
    (4, 'Arjun', 'Cyber Security', 14000),
    (5, 'Sneha', 'Web Development', 13000)
])
conn.commit()
cursor.execute("SELECT name, track FROM interns;")
rows = cursor.fetchall()
print("Interns (Name and Track):")
for row in rows:
    print(row)
conn.close()

Interns (Name and Track):
('Asha', 'Data Science')
('Rahul', 'Web Development')
('Priya', 'Data Science')
('Arjun', 'Cyber Security')
('Sneha', 'Web Development')

In [2]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("internship.db")
cursor = conn.cursor()
query_filter = """
SELECT * FROM interns
WHERE track = 'Data Science' AND stipend > 5000;
"""
df_filter = pd.read_sql_query(query_filter, conn)
print("Data Science interns with stipend > 5000:")
print(df_filter)
query_avg = """
SELECT track, AVG(stipend) AS avg_stipend
FROM interns
GROUP BY track;
"""
df_avg = pd.read_sql_query(query_avg, conn)
print("\nAverage stipend per track:")
print(df_avg)
query_count = """
SELECT track, COUNT(*) AS total_interns
FROM interns
GROUP BY track;
"""
df_count = pd.read_sql_query(query_count, conn)
print("\nNumber of interns per track:")
print(df_count)
conn.close()

Data Science interns with stipend > 5000:
   id   name         track  stipend
0   1   Asha  Data Science    15000
1   3  Priya  Data Science    16000

Average stipend per track:
             track  avg_stipend
0   Cyber Security      14000.0
1     Data Science      15500.0
2  Web Development      12500.0

Number of interns per track:
             track  total_interns
0   Cyber Security              1
1     Data Science              2
2  Web Development              2

In [3]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("internship.db")
cursor = conn.cursor()
cursor.execute("""
CREATE TABLE IF NOT EXISTS mentors (
    mentor_id INTEGER PRIMARY KEY,
    mentor_name TEXT,
    track TEXT
);
""")
cursor.execute("DELETE FROM mentors;") 
cursor.executemany("""
INSERT INTO mentors (mentor_id, mentor_name, track)
VALUES (?, ?, ?);
""", [
    (1, 'Dr. Sharma', 'Data Science'),
    (2, 'Mr. Mehta', 'Web Development'),
    (3, 'Ms. Kapoor', 'Cyber Security')
])
conn.commit()
query_join = """
SELECT interns.name AS intern_name,
       interns.track,
       mentors.mentor_name
FROM interns
JOIN mentors
ON interns.track = mentors.track;
"""
df_join = pd.read_sql_query(query_join, conn)
print("Interns with their Mentors:")
print(df_join)
conn.close()

Interns with their Mentors:
  intern_name            track mentor_name
0        Asha     Data Science  Dr. Sharma
1       Rahul  Web Development   Mr. Mehta
2       Priya     Data Science  Dr. Sharma
3       Arjun   Cyber Security  Ms. Kapoor
4       Sneha  Web Development   Mr. Mehta